.header-toolbar {
    position: fixed;
    top: 0;
}
.mat-toolbar-single-row {
    height: 70px;
}
.spacer {
    flex: 1 1 auto;
}
.search {
    width: 400px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
.logo{
    margin: 5px 10px;
    height: 60px;
}