<mat-toolbar class="header-toolbar"> 
  <img src="../../assets/logo.png" class="logo">
  <span class="spacer"></span>
  <div class="btn-panel">
    <button mat-button routerLink="/user">Zostań gospodarzem</button>
    <button mat-button>Pomoc</button>
    <button mat-button>Rejestracja</button>
    <button mat-button>Logowanie</button>
  </div>
</mat-toolbar>