

<div class="properties-container">
    <div class="property" *ngFor="let property of properties">
      <img class="property-img" src="../../assets/test.jpg">
      <button class="view-details-btn" mat-raised-button color="accent">więcej</button>
      <h4 class="property-title">{{property.name}}</h4>
      <p class="property-subtitle">{{property.name_subtitle}}</p>
    </div>
</div>


<div class="leaflet-map" leaflet [leafletOptions]="options" [leafletLayers]="layers"></div>

