.address:hover {
    color: red;
    cursor: pointer;
}
.property-title, .property-subtitle {
    font-family: "museo300";
    text-align: center;
}
.property-title{
    margin: 5px 0;
}
.property-subtitle {
    margin: 0;
}
.cta1-container {
    width: 100%;
    height: 300px;
    position: relative;
}
.view-details-btn{
    color: #fff;
    position: absolute;
    font-weight: bold;
    top: 20px;
    right: 20px;
}
.properties-container {
    margin-top: 160px;
    width: 60%;
    float: left;
    height: calc(100vh - 160px);
    overflow-y: scroll;
}
.property {
    display: inline-block;
    width: 33.333%;
    box-sizing: border-box;
    padding: 10px;
    height: 300px;
    position: relative;
}
.property-img {
    width: 100%;
}
.leaflet-map {
    position: absolute;
    height: calc(100vh - 160px);
    width: 40%;
    top: 160px;
    right: 0;
}