<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="basicInfo">
    <div class="step-body">
      <div class="step-form-section">
        <form [formGroup]="basicInfo">
          <ng-template matStepLabel>Wpisz podstawowe informacje</ng-template>
          <h3>Podstawowe informacje</h3>
          <mat-form-field>
            <input matInput placeholder="Nazwa obiektu" formControlName="propertyName" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Imię i nazwisko" formControlName="propertyOwnerName" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="E-mail" formControlName="propertyOwnerEmail" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Telefon" formControlName="propertyOwnerPhone" required>
          </mat-form-field>
          <p>Wprowadź podtytuł - krótki tekst, dokładniej opisujący Twoją ofertę.</p>
          <mat-form-field>
            <input matInput placeholder="Podtytuł"  formControlName="propertySubtitle">
          </mat-form-field>
          <h3>Adres</h3>
          <mat-form-field>
            <input matInput placeholder="Miejscowość" formControlName="city" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Ulica" formControlName="street" required>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Kod pocztowy" formControlName="postalCode" required>
          </mat-form-field>
          <h4>Ilość kwater</h4>
          <p>Podaj ilość pokoi, sypialni, apartamentów lub domków, aby sprawdzić ilu gości może pomieścić Twoja oferta.</p>
          <mat-form-field>
              <mat-select [(value)]="selected" formControlName="selectRoomQty">
                <mat-option value="1">1 kwatera</mat-option>
                <mat-option value="2">2 kwatery</mat-option>
                <mat-option value="3">3 kwatery</mat-option>
                <mat-option value="4">4 kwatery</mat-option>
                <mat-option value="5">5 kwater</mat-option>
                <mat-option value="6">6 kwater</mat-option>
                <mat-option value="7">7 kwater</mat-option>
                <mat-option value="8">8 kwater</mat-option>
                <mat-option value="9">9 kwater</mat-option>
                <mat-option value="10">10 kwater</mat-option>
                <mat-option value="11">11 kwater</mat-option>
                <mat-option value="12">12 kwater</mat-option>
                <mat-option value="13">13 kwater</mat-option>
                <mat-option value="14">14 kwater</mat-option>
                <mat-option value="15">15 kwater</mat-option>
                <mat-option value="16">16 kwater</mat-option>
                <mat-option value="17">17 kwater</mat-option>
                <mat-option value="18">18 kwater</mat-option>
                <mat-option value="19">19 kwater</mat-option>
                <mat-option value="20">20 kwater</mat-option>
              </mat-select>
          </mat-form-field>
          <div formArrayName="items" *ngFor="let item of basicInfo.get('items')?.controls; let i = index;">
            <h3>{{basicInfo.controls.items.controls[i].controls.name.value}} Kwatera {{i+1}}</h3>
            <h4>Nazwa i cena podstawowa</h4>
            <p>W kolejnym kroku zostanie sprecyzowany cennik na konkretne terminy.</p>
            <div [formGroupName]="i">
                <mat-form-field>
                    <input matInput placeholder="Nazwa kwatery" formControlName="name">
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput placeholder="Cena podstawowa" formControlName="price">
                  </mat-form-field> zł
                  <mat-form-field class="room-description">
                      <textarea matInput placeholder="Opis"  formControlName="description"></textarea>
                  </mat-form-field>
                  <dropzone [config]="config" [message]="'Klikij lub przeciągnij zdjęcia aby je załadować'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
            </div>
            <h4>Konfiguracja miejsc do spania</h4>
            <p>Poinformuj gości, jakie rodzaje łóżek masz w każdym pokoju – dzięki temu lepiej zrozumieją, jak wygląda aranżacja miejsc do spania w Twojej ofercie.</p>
            <p>0 łóżek</p>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <div class="people-label">Łóżko podwójne</div>
                    <button mat-mini-fab color="primary">
                        <mat-icon>exposure_neg_1</mat-icon>
                    </button>
                    <span class="people-quantity">0</span>
                    <button mat-mini-fab color="primary">
                        <mat-icon>exposure_plus_1</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <div class="people-label">Łóżko pojedyńcze</div>
                    <button mat-mini-fab color="primary">
                            <mat-icon>exposure_neg_1</mat-icon>
                    </button>
                    <span class="people-quantity">0</span>
                    <button mat-mini-fab color="primary">
                            <mat-icon>exposure_plus_1</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <div class="people-label">kanapa</div>
                    <button mat-mini-fab color="primary">
                            <mat-icon>exposure_neg_1</mat-icon>
                    </button>
                    <span class="people-quantity">0</span>
                    <button mat-mini-fab color="primary">
                            <mat-icon>exposure_plus_1</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <div class="people-label">łóżko piętrowe</div>
                    <button mat-mini-fab color="primary">
                            <mat-icon>exposure_neg_1</mat-icon>
                    </button>
                    <span class="people-quantity">0</span>
                    <button mat-mini-fab color="primary">
                            <mat-icon>exposure_plus_1</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <div class="people-label">łóżko dziecięce</div>
                    <button mat-mini-fab color="primary">
                            <mat-icon>exposure_neg_1</mat-icon>
                    </button>
                    <span class="people-quantity">0</span>
                    <button mat-mini-fab color="primary">
                            <mat-icon>exposure_plus_1</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <div class="people-label">łóżeczko dla niemowląt</div>
                    <button mat-mini-fab color="primary">
                            <mat-icon>exposure_neg_1</mat-icon>
                    </button>
                    <span class="people-quantity">0</span>
                    <button mat-mini-fab color="primary">
                            <mat-icon>exposure_plus_1</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
            <mat-divider></mat-divider>
          </div>
          <div class="stepperButtonSection">
            <button mat-raised-button color="accent" class="stepperButtonNext" matStepperNext>Dalej</button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="picturesAndPrices">
    <div class="step-body">
      <div class="step-form-section">
        <form [formGroup]="basicInfo">
          <ng-template matStepLabel>Reguły cenowe i ceny sezonowe</ng-template>
          <h4><mat-checkbox formControlName="minDaysCondition">Nie przyjmuj rezerwacji poniżej:</mat-checkbox></h4>
          <mat-form-field>
              <input matInput placeholder="" formControlName="minDays">dni
          </mat-form-field>
          <h4><mat-checkbox formControlName="higherPriceCondition">Stosuj wyższą cenę dla rezerwacji poniżej:</mat-checkbox></h4>
          <mat-form-field>
              <input matInput placeholder="" formControlName="higherPriceDays">dni
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Cena ma być wyższa o:" formControlName="higherPrice">%
          </mat-form-field>
          <h4><mat-checkbox formControlName="lowerPriceCondition">Stosuj niższą cenę dla rezerwacji powyżej:</mat-checkbox></h4>
          <mat-form-field>
              <input matInput placeholder="" formControlName="lowerPriceDays">dni
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Cena ma być niższa o:" formControlName="lowerPrice">%
          </mat-form-field> 
          <h3>Zdefiniuj cennik</h3>
          <div formArrayName="items" *ngFor="let item of basicInfo.get('items')?.controls; let i = index;">
            <h4>{{basicInfo.controls.items.controls[i].controls.name.value}} Kwatera {{i+1}}</h4>
            <p>Dodaj nową regułę cenową. Podstawowa cena to {{basicInfo.controls.items.controls[i].controls.price.value}}zł i będzie ona obejmować niezdefiniowane okresy.</p>
            <mat-form-field class="roomCustomPrice">
                <input matInput placeholder="Cena" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="dateFromPricing" placeholder="Od">
              <mat-datepicker-toggle matSuffix [for]="dateFromPricing"></mat-datepicker-toggle>
              <mat-datepicker #dateFromPricing></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="dateToPricing" placeholder="Do">
                <mat-datepicker-toggle matSuffix [for]="dateToPricing"></mat-datepicker-toggle>
                <mat-datepicker #dateToPricing></mat-datepicker>
            </mat-form-field>
            <button mat-stroked-button class="add-next-pricing-rule" color="accent">Dodaj kolejną regułę cenową</button><br />
            <mat-divider></mat-divider>
          </div>   
          <div class="stepperButtonSection">
            <button mat-raised-button  class="stepperButtonPrev" matStepperPrevious>Wstecz</button>
            <button mat-raised-button color="accent" class="stepperButtonNext" matStepperNext>Dalej</button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <div class="step-body">
      <div class="step-form-section">
        <form [formGroup]="facilities" (ngSubmit)="onSubmit()">
          <ng-template matStepLabel>Przestrzenie wspólne i udogodnienia</ng-template>
            <h4>Załaduj zdjęcia</h4>
            <p>Załaduj zdjęcia przedstawiające wspólne przestrzenie, udogodnienia oraz zdjęcia ogólne budynku.</p>
            <dropzone [config]="config" [message]="'Klikij lub przeciągnij zdjęcia aby je załadować'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
            <h3>Udogodnienia</h3>
            <p><mat-checkbox formControlName="wifi">Wifi</mat-checkbox></p>
            <p><mat-checkbox formControlName="shampoo">Szampon</mat-checkbox></p>
            <p><mat-checkbox formControlName="towels">Ręczniki</mat-checkbox></p>
            <p><mat-checkbox formControlName="bedding">Pościel</mat-checkbox></p>
            <p><mat-checkbox formControlName="soap">Mydło</mat-checkbox></p>
            <p><mat-checkbox formControlName="toiletPaper">Papier toaletowy</mat-checkbox></p>
            <p><mat-checkbox formControlName="TV">TV</mat-checkbox></p>
            <p><mat-checkbox formControlName="heating">Ogrzewanie</mat-checkbox></p>
            <p><mat-checkbox formControlName="wardrobes">Szuflady, szafy</mat-checkbox></p>
            <p><mat-checkbox formControlName="airConditioning">Klimatyzacja</mat-checkbox></p>
            <p><mat-checkbox formControlName="breakfast">Śniadanie, kawa, herbata</mat-checkbox></p>
            <p><mat-checkbox formControlName="desk">Biurko/miejsce do pracy</mat-checkbox></p>
            <p><mat-checkbox formControlName="firePlace">Kominek</mat-checkbox></p>
            <p><mat-checkbox formControlName="iron">Żelazko</mat-checkbox></p>
            <p><mat-checkbox formControlName="fridge">Lodówka</mat-checkbox></p>
            <p><mat-checkbox formControlName="kettle">Czajnik</mat-checkbox></p>
            <p><mat-checkbox formControlName="hairDryer">Suszarka do włosów</mat-checkbox></p>
            <h3>Wspólne przestrzenie</h3>
            <p><mat-checkbox formControlName="livingRoom">Salon</mat-checkbox></p>
            <p><mat-checkbox formControlName="swimmingPool">Basen</mat-checkbox></p>
            <p><mat-checkbox formControlName="kidsRoom">Pokój dziecięcy</mat-checkbox></p>
            <p><mat-checkbox formControlName="kitchen">Kuchnia</mat-checkbox></p>
            <p><mat-checkbox formControlName="loundry">Pralnia - pralka</mat-checkbox></p>
            <p><mat-checkbox formControlName="parking">Parking</mat-checkbox></p>
            <p><mat-checkbox formControlName="elevator">Winda</mat-checkbox></p>
            <p><mat-checkbox formControlName="jacuzzi">Jacuzzi</mat-checkbox></p>
            <p><mat-checkbox formControlName="gym">Siłownia</mat-checkbox></p>
            <p><mat-checkbox formControlName="playground">Plac zabaw</mat-checkbox></p>
          <div class="stepperButtonSection">
            <button mat-raised-button class="stepperButtonPrev" matStepperPrevious>Wstecz</button>
            <button mat-raised-button color="accent" class="stepperButtonNext" (click)="stepper.next()">Dalej</button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <div class="step-body">
      <form [formGroup]="formalities" (ngSubmit)="onSubmit()">
        <div class="step-form-section">
          <ng-template matStepLabel>Przywitaj pierwszych gości!</ng-template>
          <h4>Opisz miejsce gościom</h4>
          <p>Krótko podsumuj swoją ofertę. Możesz podkreślić, co jest wyjątkowe w Twojej ofercie.</p>
          <mat-form-field>
            <textarea matInput placeholder="Opis"  formControlName="propertyDescription"></textarea>
          </mat-form-field>
          <h4>Twoja oferta</h4>
          <p>Dodaj inne szczegóły, które pomogą gościom ustalić, czego się mogą spodziewać w czasie pobytu.</p>
          <mat-form-field>
            <textarea matInput placeholder="Szczegóły oferty"  formControlName="propertyDetails"></textarea>
          </mat-form-field>
          <h4>Dane do przelewu</h4>
          <mat-form-field>
              <input matInput placeholder="Nazwa banku" formControlName="bankAccountName" required>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Numer konta" formControlName="bankAccountNumber" required>
          </mat-form-field>
          <h4>Przedpłata</h4>
          <mat-form-field>
              <input matInput placeholder="Kwota przedpłaty" formControlName="prepaymentAmount" required>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Termin wpłaty" formControlName="prepaymentTerm" required>
          </mat-form-field>
          <h4>Dodaj swoje zdjęcie profilowe lub logo</h4>
          <dropzone [config]="config"  [message]="'Klikij lub przeciągnij zdjęcia aby je załadować'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
        </div>
        <div class="stepperButtonSection">
          <button mat-raised-button  class="stepperButtonPrev" matStepperPrevious>Wstecz</button>
          <button mat-raised-button class="stepperButtonNext" type="submit"  color="accent" (click)="stepper.next()">Dalej</button>
        </div>
      </form>
    </div>
  </mat-step>
</mat-horizontal-stepper>