mat-horizontal-stepper {
    margin-top: 80px;
}
h4 {
    margin: 15px 0 0 0;
}
.step-form-section {
    width: 570px;
    padding: 0px 80px 100px 50px;
    background-color: #fff;
    position: relative;
}
.step-body {
    background-color: #fafafa;
}
.people-label {
    width: 200px;
}
.people-quantity {
    margin: 10px;
}
.stepperButtonSection {
    position: fixed;
    bottom: 0;
    padding: 15px 30px;
    border-top: 1px solid #ccc;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 -8px 10px -8px #ccc;
}
.stepperButtonPrev {
    font-weight: bold;
    float: left;
    padding: 7px 20px;
    font-size: 18px;
}
.stepperButtonNext {
    font-weight: bold;
    float: right;
    padding: 7px 20px;
    font-size: 18px;
    color: #fff;
}
mat-divider {
    margin: 30px 0;
}
.roomCustomPrice {
    width: 100px;
}
mat-form-field {
    margin-right: 20px;
}
.add-next-pricing-rule {
     float: right;
     margin: 10px;
}
.room-description {
    width: 385px;
}