<div class="filters-nav">
  <div class="filter-box">
    <mat-form-field>
      <input matInput [matDatepicker]="startDate" placeholder="Data przyjazdu">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="filter-box">
    <mat-form-field>
      <input matInput [matDatepicker]="endDate" placeholder="Data wyjazdu">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="filter-box">
      <app-people></app-people>
  </div>
  <div class="filter-box">
    <app-property-type></app-property-type>
  </div>
  <div class="filter-box">
    <app-price></app-price>
  </div>
  <div class="filter-box">
    <mat-slide-toggle>Rezerwacja natychmiastowa</mat-slide-toggle>
  </div>
</div>
<app-property-list></app-property-list>