.filters-nav{
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    padding-top: 10px;
    top: 0;
    margin-top: 70px;
    position: fixed;
    background-color: #fff;
    height: 80px;
}
.filter-box{
    display: inline-block;
    margin: 5px 5px 5px 10px;
}
.price-dialog-container {
    padding: 20px;
}
mat-slider {
    width: 300px;
}
.people-dialog-container .people-label {
    position: absolute;
    left: 0;
}
.people-quantity {
    margin: 10px;
}