<div class="people-dialog-container" mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <div class="people-label">Dorośli</div>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-mini-fab color="primary">
                <mat-icon>exposure_neg_1</mat-icon>
            </button>
            <span class="people-quantity">0</span>
            <button mat-mini-fab color="primary">
                <mat-icon>exposure_plus_1</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="people-label">Dzieci <br/>Wiek 2-12</div>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-mini-fab color="primary">
                    <mat-icon>exposure_neg_1</mat-icon>
            </button>
            <span class="people-quantity">0</span>
            <button mat-mini-fab color="primary">
                    <mat-icon>exposure_plus_1</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="people-label">Małe dzieci <br/>Poniżej 2</div>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-mini-fab color="primary">
                    <mat-icon>exposure_neg_1</mat-icon>
            </button>
            <span class="people-quantity">0</span>
            <button mat-mini-fab color="primary">
                    <mat-icon>exposure_plus_1</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Wyczyść</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Wybierz</button>
</div>