<div class="price-dialog-container" mat-dialog-content>
   <mat-slider thumbLabel
   [displayWith]="formatLabel"
   tickInterval="1000"
   min="1"
   max="100000"></mat-slider>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Wyczyść</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Wybierz</button>
</div>