<div class="property-type-container" mat-dialog-content>
  <p><mat-checkbox>Całe miejsce</mat-checkbox></p>
  <p><mat-checkbox>Pokój prywatny</mat-checkbox></p>
  <p><mat-checkbox>Pokój w hotelu</mat-checkbox></p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Wyczyść</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Wybierz</button>
</div>