@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body { 
  padding: 0; 
  margin: 0;
}

@font-face {
  font-family: 'museo300';
  src: url('font/museo-regular-300-webfont.eot');
  src: url('font/museo-regular-300-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/museo-regular-300-webfont.woff2') format('woff2'),
       url('font/museo-regular-300-webfont.woff') format('woff'),
       url('font/museo-regular-300-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

body [class^='mat-'], body [class*=' mat-'], input {
  font-family: "museo300";
}
body{
  color: #444444;
}

body .material-icons {
  font-family: 'Material Icons';
}